body {
    background-image: url('https://i.pinimg.com/originals/7d/07/a2/7d07a255678962d30d8717dcf5dbd266.gif');
    background-color: #8bc34a;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
  }
  
  section {
    -webkit-box-shadow: 5px 5px 50px 8px rgba(0,0,0,0.59); 
    box-shadow: 5px 5px 50px 8px rgba(0,0,0,0.59);
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    margin-top: 50px;
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid #d3e4be;
    border-radius:10px;
  }
  
  header {
    background-image: url('https://steamuserimages-a.akamaihd.net/ugc/581322996074878198/C6520680B9C4419BC9618CA859A5B9A42257B0E6/');
    background-size: cover;
    height: 120px;
    border-radius: 10px;
  }
  
  div {
    font-family: 'Roboto', sans-serif;
    color: rgb(13, 13, 70);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #c3dbd8;
    background-color: #c3e5e2;
    text-align: justify;
  }
  
  table {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: rgb(157, 230, 184);
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 15px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 50px 8px rgba(0,0,0,0.59); 
    box-shadow: 5px 5px 50px 8px rgba(0,0,0,0.59);
  }
  
  th {
    padding: 15px;
    background-color: rgb(11, 90, 11);
    font-size: 30px;
    color: white;
  }
  
  td {
    padding: 10px;
    background-color: rgb(164, 235, 164);
    font-size: 25px;
  }
  
  a {
    text-decoration: none;
  }
  
  .butao {
    font-family: 'Dela Gothic One', cursive;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
  }
  
  h3 {
    text-align: center;
  }
  
  hr {
    border-color: rgb(157, 159, 231);
  }
  
  .Para {
    margin-left: 5%;
    margin-right: 5%;
  }
  
  h1 {
    font-family: 'Dela Gothic One', cursive;
    color: #7f2228;
    text-align: center;
  }
  
  .img1 {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(-20%);
    border: 8px solid #ffffff;
  }
  
  .img2 {
    width: 300px;
    height:150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }